#TomatoAction{
  .countDownWrapper,.inputWrapper{
    position: relative;
  }
  .startTomatoButton{
    width: 100%;
  }
  .abort{
    position: absolute;
    right: -6px;top: -6px;
    background: #fff;
    cursor: pointer;
  }
}